<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="anotherBean" class="com.ljh.xml.injection.AnotherBean"/>

    <bean id="bean" class="com.ljh.xml.injection.Bean">
        <!-- 通过 构造方法 注入 Bean -->
        <!-- index, name, type 任意组合能表示哪一个参数即可 -->
        <constructor-arg index="0" name="anotherBean" type="com.ljh.xml.injection.AnotherBean" ref="anotherBean"/>
        <constructor-arg index="1" name="string" type="java.lang.String" value="aaa"/>

        <!-- 通过 setter 注入 Bean -->
        <!-- <property name="anotherBean2" ref="anotherBean"/> -->
        <property name="anotherBean2">
            <!-- 注入时创建内部 Bean -->
            <bean class="com.ljh.xml.injection.AnotherBean"/>
        </property>
        <!-- 注入级联属性值 -->
        <property name="anotherBean2.num" value="1"/>
        <property name="string2" value="bbb"/>

        <!-- 注入集合 -->
        <property name="stringList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
            </list>
        </property>
        <property name="anotherBeanList">
            <list>
                <ref bean="anotherBean"/>
                <ref bean="anotherBean"/>
            </list>
        </property>
        <property name="stringSet">
            <set>
                <value>aaa</value>
                <value>bbb</value>
            </set>
        </property>
        <property name="anotherBeanSet">
            <set>
                <ref bean="anotherBean"/>
                <ref bean="anotherBean"/>
            </set>
        </property>
        <property name="stringMap">
            <map>
                <entry key="ccc" value="ddd"/>
                <entry key="eee" value="fff"/>
            </map>
        </property>
        <property name="anotherBeanMap">
            <map>
                <entry key-ref="anotherBean" value-ref="anotherBean"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="ggg">hhh</prop>
            </props>
        </property>

        <!-- 注入 null 值 -->
        <property name="anotherBean3">
            <null/>
        </property>
    </bean>

    <!-- 通过命名空间注入 -->
    <!-- c 命名空间：快捷构造方法注入 -->
    <!-- p 命名空间：快捷 setter 注入 -->
    <bean id="bean2" class="com.ljh.xml.injection.Bean"
          c:anotherBean-ref="anotherBean" c:string="aaa"
          p:anotherBean-ref="anotherBean" p:string2="bbb">
    </bean>
</beans>
