<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-init-method="onInit"
    default-destroy-method="onDestroy"> <!-- 全局初始化和销毁逻辑 -->

    <bean id="bean" class="com.ljh.xml.init.destroy.Bean"
        init-method="onInit" destroy-method="onDestroy"/>
</beans>
