<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 通过构造方法实例化 Bean -->
    <!-- 给 bean1 起了别名 bean1_1, bean1_2 -->
    <bean id="bean1" class="com.ljh.xml.instantiate.Bean1" name="bean1_1, bean1_2"/>
    <!-- 给 bean1 起了别名 bean1_3 -->
    <alias name="bean1" alias="bean1_3"/>

    <!-- 通过静态方法实例化 Bean -->
    <bean id="bean2" class="com.ljh.xml.instantiate.Bean2Factory" factory-method="getBean2"/>

    <!-- 通过实例方法实例化 Bean -->
    <bean id="bean3Factory" class="com.ljh.xml.instantiate.Bean3Factory"/>
    <bean id="bean3" factory-bean="bean3Factory" factory-method="getBean3"/>

</beans>